:root {
  --text-color: #03045e;
}
/* หัวเดือน */

/* ปรับขนาดและจัดตำแหน่งของปุ่มเลือกเดือน ปี */
.react-calendar__navigation {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

/* ปรับขนาดฟอนต์ของเดือน/ปี */
.react-calendar__navigation__label {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

/* เพิ่มระยะห่างระหว่างปุ่ม */
.react-calendar__navigation button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 14px;
}

.react-calendar__navigation button:hover {
  background-color: #ddd;
}
/* หัวเดือน */

/* จ-ศ */
.react-calendar__month-view__weekdays {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

/* ปรับระยะห่างระหว่างวัน */
.react-calendar__month-view__weekdays__weekday {
  font-weight: bold;
  color: #2b2b2b;
  text-align: center;
}

.react-calendar__month-view__days__day {
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

/* ปรับให้ตัวอักษรไม่หดหรือบิด */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  font-size: 14px;
}
/* จ-ศ */

/* ปฏิทินหลัก */
.react-calendar {
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 20px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* ปรับขนาดของวันที่ในปฏิทิน */
.react-calendar__tile {
  border: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 14px;
  margin-top: 8px;
}
.react-calendar__tile:hover {
  cursor: not-allowed;
  font-weight: bold;
}

/* ปรับพื้นหลังและสไตล์ของวันที่อนุญาต */
.react-calendar__tile.allowed-day {
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px;
  margin-top: 8px;
}

/* เปลี่ยนสีพื้นหลังเมื่อ hover วันที่อนุญาต */
.react-calendar__tile.allowed-day:hover {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

/* ปรับขนาดวันที่ที่ถูกเลือก */
.react-calendar__tile--active {
  border-radius: 8px;
  font-weight: bold;
  background-color: #52ca56;
  color: white;
}

/* ปรับขนาดวันที่ปัจจุบัน */
.react-calendar__tile--now {
  border-radius: 8px;
  background-color: none;
  border: solid rgba(0, 15, 146, 0.801) 3px;
  font-weight: bold;
}

.react-calendar__tile--now:hover {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* ปรับขนาดวันที่ปัจจุบัน */

/* ปรับขนาดและสีของวันที่ปฏิทิน */
.react-calendar__tile--weekend {
  color: rgb(0, 0, 0);
}
/* ปฏิทินหลัก */

/* popup */
.calendar-popup {
  width: 100%;
  max-width: 600px;
  margin: 220px auto 0px 250px;
  border-radius: 8px;
  height: 1px;
}
.date-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.calendar-toggle-btn {
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: auto;
}

.calendar-toggle-btn:hover {
  background-color: #4ea151;
}

.btn-cancel-select-date {
  z-index: 9;
  margin: 10px;
  width: auto;
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.btn-cancel-select-date:hover {
  background-color: #c82333;
}

.calendar-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 58, 58, 0.144);
  z-index: 99;
}

/* popup */
.date-select-label strong {
  font-size: 1rem;
  color: var(--text-color);
  margin-right: 10px;
}

.divider-order-select-date {
  margin-top: 20px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 2px solid #bbb;
}
.select-date-book {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto 0 auto;
  color: var(--text-color);
  padding: 12px 24px;
}
.calendar-btn-select-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

@media screen and (max-width: 960px) {
  .react-calendar {
    width: 100%;
    margin: 10px auto;
  }
  .react-calendar__tile {
    font-size: 14px;
    padding: 10px;
  }
  .calendar-popup {
    margin: 220px auto 50px auto;
  }
  .calendar-toggle-btn {
    margin-left: 0;
  }
  .btn-cancel-select-date {
    margin: 10px 10px 10px 10px;
  }
  .select-date-book {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .react-calendar {
    width: 100%;
    margin: 10px auto;
  }
  .calendar-popup {
    margin: 250px auto 50px auto;
  }

  .react-calendar__tile {
    font-size: 12px;
    padding: 10px;
  }
}
